/* src/Navbar.css */
body {
  margin: 0;
  font-family: Arial, sans-serif;
}

.navbar {
  background-color: white; /* White with transparency */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Optional shadow for depth */
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1000;
  direction: rtl; /* Right-to-left direction */
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}

.logo img {
  width: 50px;
}

.nav-links {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.nav-links li {
  margin: 0 15px;
}

.nav-links a {
  color: #333; /* Dark color for text */
  text-decoration: none;
  padding: 10px 15px;
  display: block;
  border-radius: 4px;
  transition: background-color 0.3s;
}

.nav-links a:hover {
  background-color: rgba(255, 255, 0, 0.7); /* Yellow with transparency */
  color: #000;
}

.menu-toggle {
  display: none;
  flex-direction: column;
  cursor: pointer;
}

.menu-toggle span {
  width: 25px;
  height: 3px;
  background-color: #333; /* Dark color for toggle lines */
  margin: 4px 0;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: rgba(0, 0, 255, 0.7); /* Blue with transparency */
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: white;
  padding: 10px 15px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: rgba(255, 0, 0, 0.7); /* Red with transparency */
}

.dropdown:hover .dropdown-content {
  display: block;
}

@media (max-width: 768px) {
  .navbar {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .nav-links {
    flex-direction: column;
    width: 110%;
    display: none;
    align-items: center; /* Centering the menu items */
    position: fixed;
    top: 60px; /* Adjust this value based on the height of your logo and navbar */
    background-color: white; /* Diamond white background */
    z-index: 1000;
    padding-top: 10px;
  }

  .nav-links li {
    text-align: center;
    margin: 10px 0;
  }

  .nav-links.active {
    display: flex;
  }

  .menu-toggle {
    display: flex;
  }
}
